/* Styling the QR Code to my best knowledge*/
.container {
  width: 350px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  margin-top: 7rem;
  margin-left: auto;     
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 15px;
  margin-right: auto;
  padding: 20px; /* Add padding to ensure text is not too close to the edges */
  color: black; /* Ensure text color is set to black or any visible color */
  font-family: 'Outfit', sans-serif; /* Use the imported font */
  position: relative; /* Add relative positioning */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow for depth */
}

.body {
   background: linear-gradient(135deg, #e0f7fa, #e6ee9c); /* Customize these colors */
   height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Remove default margins */
  overflow: hidden; /* Prevent content from overflowing */  
 }


.qr-code-container {
  width: 10vw; /* Shrinks the container size */
  height: auto; /* Let it adjust how it should */
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr-code {
  max-width: 100%; /* Ensure the QR code fits within the container */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 15px; /* Adds the border-radius to make rounded edges */
}

.bottom-text {
  text-align: center; /* Center the text */
  font-size: 14px; /* Adjust font size as needed */
  margin-top: 10px; /* Push the text to the bottom */
}

/* Add hover effect to the QR code */
.qr-code:hover {
  transform: scale(1.1); /* Scale the QR code on hover */
  transition: transform 0.3s; /* Add smooth transition effect */
}

footer.attribution {
  font-size: 12px;
  text-align: center;
  color: gray;
  margin-top: 20px;
}
footer.attribution a {
  color: #3498db;
  text-decoration: none;
}
footer.attribution a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 15px;
  }}